{% extends 'base.html' %}
{% block bootstrap3_content %}
    <div class="container">
    <h1>Corey Griggs Blog Archive</h1>
    {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.description }}</p>
            <p> Posted on
                <time datetime="{{ post.created|date:"c" }}"></time>
                {{post.created|date}}
            </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}