{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block bootstrap3_content %}
    <div class="container">
        <div class="container-fluid">
             <nav>
                 <ul class="nav navbar-right nav-pills col-xs-3">
                      <li><a href="{% url 'home' %}" class="navbar-btn">Home</a></li>
                      <li><a href="{% url 'blog' %}" class="navbar-btn">Blog</a></li>
                      <li><a href="{% url 'contact' %}" class="navbar-btn">Contact</a></li>
                  </ul>
              </nav>
        </div>
        <article>
            <header>
                <h1>{{ post.title }}</h1>
                    <p>
                        Posted on
                        <time datetime="{{ post.created|date:"c" }}">
                        {{ post.created|date }}
                        </time>
                    </p>
            </header>
            <p class="description">
                {{ post.description }}
            </p>
            {{ post.content|safe }}
        </article>
    </div>
{% endblock %}